__pycache__/
*.py[cod]

/.vscode/
/.idea/
*.sw[pon]

/data/
/work_dirs/
/BDInvert/work_dirs/
/BDInvert/test_imgs/
*.jpg
*.jpeg
*.gif
*.avi
*.mp4

*.npy
*.txt
*.json
*.log
*.html
*.tar
*.zip
events.*

*.pth
*.pkl
*.h5
*.dat
*.bak
